body{
    margin: 0%;
    
}

.mySlides {

    display: none;

}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: #F3524E;;
}
#nav-bars{
    
    position: fixed;
    font-family: 'Tajawal', sans-serif;
    background-color:black;
    opacity: 0.6;
    height: 14%;
    color: white;
    top: 0;
    width: 100%;
    font-size: 23px;
    transition: top 0.9s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu{
    width: 60%;
}

#nav-bars li{
    list-style: none;
    text-decoration: none;
    margin: 0 5px;
     
}

#nav-bars li:hover{
    color: #F3524E;
}

.selected{

    color: #F3524E;
    font-size: 25px;
}
ul{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 4%;
    /* text-indent: 2%; */
    text-shadow: 2px 2px 2px grey;
}

 
.logo-velo{  
    margin: 0 60px;  
}
    
.first-titre{
    text-align: center;
    font-size: 50px;
    margin-top: 10%;
    font-family: 'Tajawal', sans-serif;
   
}


.text-sous-titre{
    text-align: center;
    font-size: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    font-family: 'Tajawal', sans-serif;
 }



.first-border {
    margin-right: 45%;
    border: 1px solid #F3524E;
    margin-top: 10%;
    margin-left: 45%;
}

.text{
    margin-left: 20%;
    text-align: center;
    margin-top: 8%;
    margin-right: 20%;
    font-size: 13px;
    font-family: 'Tajawal', sans-serif;
}

.logo{
    display: flex;
    justify-content: space-around;
    margin-top: 10%
}
.logo1{
    background-image: url(./image/like.png);
    background-repeat:no-repeat; 
    width: 100px;
    height: 100px;
}

.logo2{
    background-image: url(./image/tools.png);
    background-repeat:no-repeat; 
    width: 100px;
    height: 100px;
}

.logo3{
    background-image: url(./image/ok.png);
    background-repeat:no-repeat; 
    width: 100px;
    height: 100px;
}

.titre-sous-logo{
    display: flex;
    justify-content: space-around;
    margin-right: 5%;
    margin-top: -2%;
}

.test{
    font-size: 20px;
    font-family: 'Tajawal', sans-serif;
}

.minitext-sous-logo{
    display: flex;
    justify-content: space-around;
   
}

p{
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    width: 25%;
   
   
}

/*page-les-vélos*/

.background-container-two{
    background-image: url(./image/photo1.jpg);
    height: 800px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    padding-top: 3%;
   
}



.un{
    background-image: url(./image/photo-velo-ville.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 350px;
}

.deux{
    display:none;
    background-color:black;
    opacity:0.7;
    width: 400px;
    height: 146px;
    text-align: center;
    font-size: 40px;
    padding-top: 30%;
    color: #F3524E;
    font-family: 'Tajawal', sans-serif;
}

.deux:hover{
   
    transition: all 1.0s;
}

.un:hover .deux{
    display:block
}

.trois{
    background-image: url(./image/velo-course.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 350px;
}

.quatre{
    display:none;
    background-color:black;
    opacity:0.7;
    width: 400px;
    height: 146px;
    text-align: center;
    font-size: 40px;
    padding-top: 30%;
    color: #F3524E;
    font-family: 'Tajawal', sans-serif;
    
}

.trois:hover{
  
    transition: all 1.0s;
}

.trois:hover .quatre{
    display:block
}

.cinq{
    background-image: url(./image/velo-electrique.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 350px;
}

.six{
    display:none;
    background-color:black;
    opacity:0.7;
    width: 400px;
    height: 146px;
    text-align: center;
    font-size: 40px;
    padding-top: 30%;
    color: #F3524E;
    font-family: 'Tajawal', sans-serif;
}

.cinq:hover{
   
    transition: all 1.0s;
}

.cinq:hover .six{
    display:block
}

.sept{
    background-image: url(./image/velo-mountain.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 350px;
}

.huit{
    display:none;
    background-color:black;
    opacity:0.7;
    width: 400px;
    height: 180px;
    text-align: center;
    font-size: 40px;
    padding-top: 30%;
    color: #F3524E;
    font-family: 'Tajawal', sans-serif;
}

.sept:hover{
   
    transition: all 1.0s;
}

.sept:hover .huit{
    display:block
}

.neuf{
    background-image: url(./image/velo-occasion.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 350px;
}

.dix{
    display:none;
    background-color:black;
    opacity:0.7;
    width: 400px;
    height: 180px;
    text-align: center;
    font-size: 40px;
    padding-top: 30%;
    color: #F3524E;
    font-family: 'Tajawal', sans-serif;
}

.neuf:hover{
   
    transition: all 1.0s;
}

.neuf:hover .dix{
    display:block
}


/*click-vélo*/

.background-photo{
    background-image: url(./image/velo-course-gf.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
    
.text-velo-course{
        
        margin-left: 5%;
        font-size: 60px;
        text-shadow: 2px 2px 2px grey; 
        color:#F3524E;
        padding-top: 20%;
        font-family: 'Tajawal', sans-serif;
}
  
.container-velo-route{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}  

.photo-1{
    background-image: url(./image/velo-route.jpg);
    background-size:contain; 
    background-repeat:no-repeat;
    width: 480px;
    height: 300px;
    border-radius: 10px;


    
}

.photo-2{
    background-image: url(./image/velo-route1.jpg);
    background-size:contain; 
    background-repeat:no-repeat;
    width: 480px;
    height: 300px;
    border-radius: 10px;
}
.container-description{
    display: flex;
    justify-content: space-around;
}
.description{
    
    font-size: 20px;
    color: #F3524E;
    font-family: 'Tajawal', sans-serif;
    
}

/*partie-liste-tarifs*/

.background-list{
    background-image: url(./image/photo3.jpeg);
    height: 800px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    margin-top: 10%;

}
.opacité{
    height: 800px;
    background: rgba(0,0,0,0.6);
    width: 100%;
}
.titre-liste{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.liste-red{
    border: 1px solid #F3524E;
    background-color: #F3524E;
    border-radius: 3px;
    font-size: 20px;
    color: white;
    width: 17%;
    height: 8%;
    text-align: center;
    padding-top: 3%;
    font-family: 'Tajawal', sans-serif;
    
}

.liste{
    font-family: 'Tajawal', sans-serif;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 3px;
    font-size: 20px;
    width: 17%;
    height: 8%;
    text-align: center;
    padding-top: 3%;
    
    
}

.liste-red a{
    color: black;
}

.liste-red a:hover{
    text-decoration: none;
    color: white;
    
}

.liste a{
    color: black;
}

.liste a:hover{
    text-decoration: none;
    color: red;
   

}

.container-principal{
    margin-top: 15%;
}

.designation-titre{
    margin-top: 5%;
    font-size: 30px;
    font-family: 'Tajawal', sans-serif;
    
  
}

tr{
    font-size: 15px;
    font-family: 'Tajawal', sans-serif;
    color: #F3524E;
}

td{
height: 30px;
width: 92%;
border-bottom:2px solid antiquewhite; 
}

.container-principal{
    display: flex;
    justify-content: space-around;
}

/*partie-forfait*/


.container-forfait{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    font-size: 25px;
    font-family: 'Tajawal', sans-serif;
    background-color: whitesmoke;
    height: 300px;
    padding-top: 10%;
    border-top: 2px solid #F3524E;
    border-bottom: 2px solid #F3524E
}

.explication{
    text-align: center;
    width: 300px;
    font-size: 13px;
    
}

.prix{
    margin-top: 5%;
    font-family: 'Tajawal', sans-serif;
    color: #F3524E;
}

.logo-fin{

    background-image: url(./image/logo.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 100px;
    margin-left: 38%;

}
.footer-general{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;

}

.border-left-separation{
    border-left: 3px solid wheat;
}

.adresse-one{
    font-family: 'Tajawal', sans-serif;
    color: #F3524E;
    font-size: 40px;
    line-height: 30px;
    text-align: center;
}
.adress{
   
    font-size: 25px;
    font-family: 'Tajawal', sans-serif;
    line-height: 30px;
    text-align: center;
    
}

.footer{
    padding-top: 6%;
    background-color: whitesmoke;
    width: 60%;
}
#my_osm_widget_map { 
    width: 60%;
    height: 350px;
    border-radius: 20px;
	
}